@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.color{
    background: black;
  border-radius: 29px;
  padding: 10px;
  height: 65vh;
}

h1{
    display: flex;
justify-content: center;
font-family: 'Varela Round', sans-serif;
}
.button{
    padding: 20px;
    margin: 5px 4px;
    border: 1px solid grey;
    border-radius: 50%;
    cursor: pointer;

}
.display{
    height: 13vh;
  
}


.row{
    margin: 4px 0;
}
.row input{ 
    margin: 0;
    padding: 16px 8px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 17px;
    background-color: black;
    color: whitesmoke;
  }
.button{
    background: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    
    width: 58px;
}
.bt-col{
    background: orangered;
}

